*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offer{
    height: 12vh;
    width: 100%;

}
.alert{
    position: absolute;
    text-align: center;
    height: 9vh;
    width: 100%;
}
.text{
    top: 2%;
}
